# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://repo.continuum.io/pkgs/main/osx-64/appnope-0.1.0-py36hf537a9a_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/bleach-2.0.0-py36h8fcea71_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/ca-certificates-2017.08.26-ha1e5d58_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/certifi-2017.7.27.1-py36hd973bb6_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/cycler-0.10.0-py36hfc81398_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/dbus-1.10.22-h50d9ad6_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/decorator-4.1.2-py36h69a1b52_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/entrypoints-0.2.3-py36hd81d71f_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/expat-2.2.4-hec26022_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/freetype-2.8-h143eb01_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/gettext-0.19.8.1-hb0f4f8b_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/glib-2.53.6-h33f6a65_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/html5lib-0.999999999-py36h79312fd_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/icu-58.2-hea21ae5_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/intel-openmp-2018.0.0-h68bdfb3_7.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/ipykernel-4.6.1-py36h3208c25_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/ipython-6.1.0-py36hf612aae_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/ipython_genutils-0.2.0-py36h241746c_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/ipywidgets-7.0.0-py36h24d3910_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/jedi-0.10.2-py36h6325097_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/jinja2-2.9.6-py36hde4beb4_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/jpeg-9b-hc9e287d_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/jsonschema-2.6.0-py36hb385e00_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/jupyter-1.0.0-py36h598a6cc_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/jupyter_client-5.1.0-py36hf6c435f_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/jupyter_console-5.2.0-py36hccf5b1c_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/jupyter_core-4.3.0-py36h93810fe_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libcxx-4.0.1-h579ed51_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libcxxabi-4.0.1-hebd6815_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libedit-3.1-hb4e282d_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libffi-3.2.1-hd939716_3.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libgfortran-3.0.1-h93005f0_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libiconv-1.15-h5ed5702_6.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libpng-1.6.32-h6184301_3.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/libsodium-1.0.13-hba5e272_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/markupsafe-1.0-py36h3a1e703_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/matplotlib-2.1.0-py36h5068139_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/mistune-0.7.4-py36hccd6237_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/mkl-2018.0.0-h5ef208c_6.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/nbconvert-5.3.1-py36h810822e_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/nbformat-4.4.0-py36h827af21_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/ncurses-6.0-ha932d30_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/networkx-2.0-py36hefccab9_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/notebook-5.2.1-py36h640abe8_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/numpy-1.13.3-py36h2cdce51_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/openssl-1.0.2m-h86d3e6a_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pandoc-1.19.2.1-ha5e8f32_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pandocfilters-1.4.2-py36h3b0b094_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pcre-8.41-h29eefc5_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pexpect-4.2.1-py36h3eac828_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pickleshare-0.7.4-py36hf512f8e_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pip-9.0.1-py36h1555ced_4.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/prompt_toolkit-1.0.15-py36haeda067_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/ptyprocess-0.5.2-py36he6521c3_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pygments-2.2.0-py36h240cd3f_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pyparsing-2.2.0-py36hb281f35_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pyqt-5.6.0-py36he5c6137_6.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/python-3.6.3-hc655967_3.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/python-dateutil-2.6.1-py36h86d2abb_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pytz-2017.2-py36h2e7dfbc_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/pyzmq-16.0.2-py36h087ffad_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/qt-5.6.2-h9975529_14.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/qtconsole-4.3.1-py36hd96c0ff_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/readline-7.0-h81b24a6_3.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/scipy-1.0.0-py36h1de22e9_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/setuptools-36.5.0-py36h2134326_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/simplegeneric-0.8.1-py36he5b5b09_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/sip-4.18.1-py36h2824476_2.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/six-1.11.0-py36h0e22d5e_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/sqlite-3.20.1-h900c3b0_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/terminado-0.6-py36h656782e_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/testpath-0.3.1-py36h625a49b_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/tk-8.6.7-hcdce994_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/tornado-4.5.2-py36h468dda9_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/traitlets-4.3.2-py36h65bd3ce_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/wcwidth-0.1.7-py36h8c6ec74_0.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/webencodings-0.5.1-py36h3b9701d_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/wheel-0.29.0-py36h3597b6d_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/widgetsnbextension-3.0.2-py36h91f43ea_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/xz-5.2.3-ha24016e_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/zeromq-4.2.2-h131e0f7_1.tar.bz2
https://repo.continuum.io/pkgs/main/osx-64/zlib-1.2.11-h60db283_1.tar.bz2
